nav{
  width: 60vw;
  margin: 0 auto;
  .logo{
    display: block;
    margin: 0 auto;
  }
  .navigation-links{
    display: inline-block;
    .nav-link{
      margin: 0 2vw;
      display: inline;
    }
  }
  .board-links{
    font-weight: bolder;
    .nav-link{
      margin: 0 2vw;
      display: inline;
    }
  }
}
