<template name="post">
    <div class="view-post">
      <div class="post-container">
        {{#with this}}
        <div class="module">  <button class=" {{liked}} like-button"><i class="fa fa-thumbs-up"></i> {{likeCount}}</button>   <span class="title">{{title}}</span> </div>
        <div class="module">  <p>{{convertText body}}</p> <span class="postedAt">{{timeAgo createdAt}}</span>  </div>

        {{/with}}
      </div>

        <div class="comment-list">
            {{#if Template.subscriptionsReady}}
                {{#each comments}}
                <div class="each-comment">
                    {{> commentItem}}
                  </div>
                {{/each}}
                {{#if hasMoreComments}}
                    <button class="btn btn-block get-more-comments"><span class="glyphicon glyphicon-chevron-down"></span></button>
                {{/if}}
            {{else}}
                {{> spinner}}
            {{/if}}
            {{> commentCreate}}
        </div>
    </div>
</template>
