<template name="header">
        <nav>
          <span class="logo"><img src="campusdustlogo.svg"></span>
        <ul class="navigation-links">
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link"><a href="/privacy">Privacy Policy</a></li>
        <li class="nav-link"><a href="/tos">Terms of Service</a></li>
      </ul>
      <hr>
      <ul class="board-links">
        <li class="{{isActive 'latest'}} nav-link"><a href="/latest">Latest</a></li>
        <li class="{{isActive 'mostliked'}} nav-link"><a href="/liked">Most liked</a></li>
        <li class="{{isActive 'mostcommented'}} nav-link"><a href="/commented">Most commented</a></li>
        <li class="nav-link"><a href="/create" class="btn btn-primary navbar-btn navbar-right">New Post</a></li>
        <li class="{{isActive 'search'}} nav-link"><a href="/search">Search</a></li>
      </ul>
      </nav>
</template>
